body{
background-color:black;
color: lime;
font-family: Courier New, Arial, sans-serif;
}
#header{
text-align: center;
}
#mario{
float:left;
}
#luigi{
float: right;
}
#fireflower{
float: right;
}
#pointrick{
float: right;
}
#bottom{
font-size:12px
}
#home{
float: right;
}
#indent{
display: block;
margin-left: 100px;
}
#SayingHello{
float: left;
}
#Map2040{
text-align: center;
}
